@keyframes noise1 {
  0% {
    left: 0;
  }

  68% {
    left: 0;
  }

  69% {
    left: 5%;
  }

  70% {
    left: 0;
  }

  100% {
    left: 0;
  }
}

@keyframes noise2 {
  0% {
    left: 0;
  }

  65% {
    left: 0;
  }

  66% {
    left: -5%;
  }

  67% {
    left: 0;
  }

  100% {
    left: 0;
  }
}

@keyframes flexfadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
  }

  100% {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
  }
}

@keyframes graph-10 {
  0% {
    width: 0;
  }
  100% {
    width: 10%;
  }
}
@keyframes graph-20 {
  0% {
    width: 0;
  }
  100% {
    width: 20%;
  }
}
@keyframes graph-30 {
  0% {
    width: 0;
  }
  100% {
    width: 30%;
  }
}
@keyframes graph-40 {
  0% {
    width: 0;
  }
  100% {
    width: 40%;
  }
}
@keyframes graph-50 {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
@keyframes graph-60 {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}
@keyframes graph-70 {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}
@keyframes graph-80 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
@keyframes graph-90 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes graph-100 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

// オープニング
@keyframes openinng {
  0%{
    opacity: 0;
    transform: scale(1.05);
  }
  99%{
    opacity: 1;
    transform: scale(1);
  }
  100%{
    opacity: 1;
    transform: none;
  }
}