@keyframes noise1 {
  0% {
    left: 0;
  }

  68% {
    left: 0;
  }

  69% {
    left: 5%;
  }

  70% {
    left: 0;
  }

  100% {
    left: 0;
  }
}

@keyframes noise2 {
  0% {
    left: 0;
  }

  65% {
    left: 0;
  }

  66% {
    left: -5%;
  }

  67% {
    left: 0;
  }

  100% {
    left: 0;
  }
}

@keyframes flexfadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
  }

  100% {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
  }
}