// 記事ページ
#posts {
  padding-bottom: 80px;
  .title-box {
    position: relative;
    height: 350px;
    .mainv {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
    .post-title {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 10px 30px 30px 100px;
      height: 100%;
      color: #fefefe;
      h1 {
        font-size: 42px;
      }
      p {
        font-size: 12px;
        min-width: 120px;
      }
    }
  }
  .tag-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    flex-wrap: wrap;
    width: 1100px;
    margin: 0 auto;
    ul.taglist {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      .tag-link {
        position: relative;
        text-align: center;
        list-style: none;
        margin-right: 20px;
        background: #ffa2b7;
        padding-left: 25px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
        transition: 0.3s;
        .tagname {
          padding: 10px 20px;
          min-width: 100px;
          background-color: #ff8ba7;
          color: #fefefe;
          letter-spacing: 1.5px;
          text-align: left;
          a {
            color: #fefefe;
          }
        }
        &:hover{
          opacity: 0.7;
        }
      }
    }
  }
  .post-body {
    padding: 50px 0;
    border-radius: 5px;
    background-color: #fefefe;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.25);
    width: 1100px;
    margin: 0 auto;
    p {
      margin: 0 20px;
      font-size: 16px;
      line-height: 1.9;
      letter-spacing: 1px;
      padding: 8px 0;
    }
    h2 {
      margin: 50px 20px 15px;
      padding: 10px;
      border-bottom: solid 2px
    }
    code {
      padding: 2px 5px;
      margin: 0 3px;
      border-radius: 3px;
    }
    pre {
      width: 100%;
      max-width: 100%;
      border-radius: 0;
    }
    ul, ol {
      margin: 8px 0;
      padding: 10px 0 10px 50px;
      background-color: #f4f4f4;
      color: #272822;
    }
    table {
      margin: 20px;
      border-collapse: collapse;
      border-spacing: 0;
      color: #4b4b4b;
      th {
        background-color: #f4f4f4;
      }
      th, td {
        padding: 5px;
        border: solid 1px #959595;
      }
    }
    blockquote {
      padding: 10px;
      background: #f4f4f4;
      border-left: solid 3px #959595;
      margin: 25px 20px;
      p {
        font-size: 12px;
        color: #959595;
      }
    }
  }
}