// タグ一覧ページ
#tags {
  padding: 80px 0;
  width: 1100px;

  h1 {
    font-size: 22px;
    width: 100%;
    padding-bottom: 25px;
  }

  .taglist {
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;

    .tag-link {
      position: relative;
      text-align: center;
      list-style: none;
      margin: 0 15px 30px 0;
      background: #ffa2b7;
      padding-left: 25px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
      -webkit-transition: 0.3s;
      transition: 0.3s;
      .tagname {
        padding: 10px 20px;
        min-width: 100px;
        background-color: #ff8ba7;
        color: #fefefe;
        letter-spacing: 1.5px;
        text-align: left;
      }
    }

    .blog-link {
      width: 50%;
      display: block;
      transition: 0.5s;
      
      &:first-of-type {
        width: 100%;
      }

      article {
        background-color: #fefefe;
        overflow: hidden;
        border: solid 10px #0d0d0d;
        margin: 5px 0;
      }

      .post-data {
        font-family: 'Sen', sans-serif;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        color: #33272a;

        .post-head {
          position: relative;
          width: 100%;
          padding: 130px 0;
          color: #fefefe;
          .post-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
  
          .post-meta {
            font-size: 38px;
            font-weight: bold;
            text-align: center;
            padding-bottom: 5px;
          }
  
          .post-description {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: 16px;
            background-color: white;
            color: #594a4e;
            opacity: 0;
            transition-duration: 0.3s;
          }
  
          .post-date {
            font-size: 12px;
            min-width: 80px;
            text-align: center;
          }
        }
      }
      &:hover {
        article {
          .post-data {
            .post-description {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .all-tags {
    .posts {
      justify-content: flex-end;
      a {
        padding: 10px 50px;
        background-color: #ff8ba7;
        border-radius: 5px;
        color: white;
      }
    }
  }
}