header {
  width: 1100px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    text-align: center;
  }
  .links {
    text-align: center;
  }
}

footer {
  width: 1100px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile {
  .skils {
    padding: 10px;
    .skil-type {
      font-size: 18px;
      padding: 5px 0;
      font-weight: bold;
      color: #636e72;
    }
    .skil-name {
      font-size: 16px;
      p {
        &::before {
          content: '・';
        }
      }
    }
  }
}