html {
  background-color: #57606f;
  scroll-behavior: smooth;
  color: #57606f;
  body {
    background-color: #f1f2f6;
  }
}

header {
  position: relative;
  width: 100%;
  background: #fff;
  border-bottom: #dfe6e9 3px solid;

  .header-box {
    width: 1100px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      p {
        font-size: 24px;
        font-weight: bold;
      }
    }
    .links {
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        color: #636e72;
        padding: 20px 10px;
        margin: 0 5px;
        height: 100%;
        .head-text {
          font-size: 18px;
          font-weight: bold;
        }

        &:hover {
          background-color: #dfe6e9;
        }
      }
    }
  }
}

footer {
  background-color: #57606f;
  .footer-box {    
    width: 1100px;
    padding: 25px 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .links {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      a {
        width: 100%;
        padding-left: 20px;
        color: #fff;
        transition-duration: 0.2s;
        &:hover {
          color: #ff6b81;
        }
        p {
          padding: 3px;
          &.sub {
            font-size: 12px;
            padding-left: 15px;
            &::before {
              content: "└ ";
            }
          }
        }
      }
    }
  }
}

#contents {
  padding: 15px 10px;
  width: 1100px;
  margin: 0 auto;
}

#profile {
  .mainv {
    text-align: center;
  }
  .contents {
    .intro {
      display: flex;
      justify-content: center;
      align-items: center;
      .da1-img {
        div {
          background: #57606f;
          width: 80px;
          height: 80px;
          border-radius: 50%;
        }
      }
      .comment, .comment-bg {
        position: relative;
        background-color: #fff;
        padding: 20px;
        margin-left: 30px;
        border-radius: 10px;
        p {
          font-size: 14px;
        }
        &::after {
          content: "";
          position: absolute;
          left: -40px;
          top: calc(50% - 15px);
          width: 40px;
          height: 30px;
          border-top: solid 15px rgba($color: #000000, $alpha: 0);
          border-right: solid 20px #fff;
          border-bottom: solid 15px rgba($color: #000000, $alpha: 0);
          border-left: solid 20px rgba($color: #000000, $alpha: 0);
        }
      }
    }
  }
  .skill-box {
    display: flex;
    justify-content: center;
    .skills {
      padding: 15px;
      background-color: #fff;
      margin: 30px;
      width: 250px;
      border-radius: 10px;

      .skill-type {
        text-align: center;
        font-size: 18px;
        padding: 5px 0;
        font-weight: bold;
        color: #636e72;
      }
      .skill-name {
        font-size: 16px;
        p {
          padding-left: 20px;
        }
      }
    }
  }
}

// 記事ページ
#posts {
  .post-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 30px 10px;
    h1 {
      font-size: 36px;
    }
    p {
      font-size: 12px;
      min-width: 80px;
    }
  }
  .post-body {
    padding: 50px 0;
    code {
      background-color: #ced6e0;
      padding: 2px 5px;
    }
    pre {
      width: 100%;
      padding: 20px;
      background-color: #2f3542;
      border-radius: 5px;
      code {
        background-color: #2f3542;
        color: #fff;
      }
    }
  }
  .tag-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 0;
    margin-top: 25px;
    flex-wrap: wrap;
    border-top: solid 1px;
    h4 {
      font-size: 22px;
      width: 100%;
      padding-bottom: 25px;
    }
    ul.taglist {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .tag-link {
        position: relative;
        text-align: center;
        list-style: none;
        margin-right: 10px;
        .hover-link {
          position: absolute;
          top: 0;
          left: 0;
          background-color: #ff4757;
          color: #fff;
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          width: 100%;
          height: 100%;
          z-index: 1;
          p {
            padding: 0 10px;
            font-size: 12px;
          }
        }      
        .tagname {
          padding: 10px;
          width: 120px;
          background-color: #fff;
          color: #747d8c;
          border: solid 1px #747d8c;
          z-index: 2;
          transform-origin: 100% 100%;
          transition: 0.3s;
          &::before {
            content: "";
            position: absolute;
            bottom: 2px;
            right: 2px;
            width: 15px;
            height: 15px;
            border-top: solid 7.5px rgba($color: #000000, $alpha: 0);
            border-right: solid 7.5px #747d8c;
            border-bottom: solid 7.5px #747d8c;
            border-left: solid 7.5px rgba($color: #000000, $alpha: 0);
          }
          a {
            color: #747d8c;
          }
        }
        &:hover {
          .tagname {
            transform: rotate(10deg);
            color: #ff4757;
            border: solid 1px #ff4757;
            &::before {
              border-top: solid 7.5px rgba($color: #000000, $alpha: 0);
              border-right: solid 7.5px #ff4757;
              border-bottom: solid 7.5px #ff4757;
              border-left: solid 7.5px rgba($color: #000000, $alpha: 0);
            }
          }
        }
      }
    }
  }
}

// Blogページ
#blog {
  h1 {
    padding-bottom: 20px;
  }
  .blog-box {
    width: 80%;
    margin: 0 auto;
    .posts {
      display: flex;
      justify-content: flex-end;
      .hover-box {
        position: absolute;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 10px;
        background-color: #ff4757;
        color: #fff;
      }
      .blog-link {
        width: 100%;
        display: block;
        transition: 0.5s;
        article {
          padding: 20px;
          background-color: #fff;
          .post-data {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            .post-meta {
              font-size: 20px;
              font-weight: bold;
            }
            .post-date {
              font-size: 12px;
              min-width: 80px;
            }
          }
        }
        &:hover {
          width: 90%;
        }
      }
    }
  }
}

// タグ一覧ページ
#tags {
  padding: 50px 0;
  h1 {
    font-size: 22px;
    width: 100%;
    padding-bottom: 25px;
  }
  .tag-box {
    ul.taglist {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      li.tag-link {
        position: relative;
        text-align: center;
        list-style: none;
        margin-right: 10px;
        .hover-link {
          position: absolute;
          top: 0;
          left: 0;
          background-color: #ff4757;
          color: #fff;
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          width: 100%;
          height: 100%;
          z-index: 1;
          p {
            padding: 0 10px;
            font-size: 12px;
          }
        }      
        .tagname {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 15px;
          width: 150px;
          background-color: #fff;
          color: #747d8c;
          border: solid 1px #747d8c;
          z-index: 2;
          transform-origin: 100% 100%;
          transition: 0.3s;
          span {
            font-size: 12px;
            color: #fff;
            padding: 0 5px;
            margin-left: 10px;
            background-color: #747d8c;
          }
          &::before {
            content: "";
            position: absolute;
            bottom: 2px;
            right: 2px;
            width: 15px;
            height: 15px;
            border-top: solid 7.5px rgba($color: #000000, $alpha: 0);
            border-right: solid 7.5px #747d8c;
            border-bottom: solid 7.5px #747d8c;
            border-left: solid 7.5px rgba($color: #000000, $alpha: 0);
          }
          a {
            color: #747d8c;
          }
        }
        &:hover {
          .tagname {
            transform: rotate(10deg);
            color: #ff4757;
            border: solid 1px #ff4757;
            span {
              background-color: #ff4757;
            }
            &::before {
              border-top: solid 7.5px rgba($color: #000000, $alpha: 0);
              border-right: solid 7.5px #ff4757;
              border-bottom: solid 7.5px #ff4757;
              border-left: solid 7.5px rgba($color: #000000, $alpha: 0);
            }
          }
        }
      }
    }
  }
}